Repository volantis-x/hexo-theme-volantis, changes with the labels that .github/labeler.yml gives for each.
All labels: Actions, Dependencies, Configurations, CSS, Layout, Scripts, i18n

Update Artalk Version to 2.5.3
  _cdn.yml
Labels: none

删除主题中的自定义文件
  source/css/_custom/custom.styl
  source/css/iconfont.css
  source/fonts/iconfont.eot
  source/fonts/iconfont.svg
  source/fonts/iconfont.ttf
  source/fonts/iconfont.woff
  source/fonts/iconfont.woff2
Labels: CSS

fix: <修复string.replaceAll报错>[ layout/_plugin/pace/script.ejs] <滚动条样式从配置文件传入> [source/css/_first/base_first.styl] <手机菜单单下拉菜单再次点击收缩失败><source/js/app.js>
  layout/_custom/timeline.ejs
  layout/_plugins/pace/script.ejs
  source/css/_first/base_first.styl
  source/css/_first/navbar_first.styl
  source/css/custom.css
  source/js/app.js
  source/js/needs.js
  source/js/timeline.js
Labels: CSS, Layout

fix: 操作类名使用classList.remove代替removeAll, 低版本浏览器报错
  layout/_plugins/pace/script.ejs
Labels: Layout

fix: <滚动条样式从配置文件传入> [source/css/_first/base_first.styl, _config.yml] <手机菜单单下拉菜单再次点击收缩失败><source/js/app.js>
  _config.yml
  source/css/_first/base_first.styl
  source/js/app.js
Labels: Configurations, CSS

fix: 修复移动端web菜单栏无法收缩；特性：浏览器滚动条复杂样式从配置文件传入 (#877)
  _config.yml
  source/css/_first/base_first.styl
  source/js/app.js
Labels: Configurations, CSS

Update release-please.yml
  .github/workflows/release-please.yml
Labels: Actions

Update release-please.yml
  .github/workflows/release-please.yml
Labels: Actions

Update label-commenter.yml
  .github/workflows/label-commenter.yml
Labels: Actions

fix: 修复移动端菜单栏按钮点击没有收起二级子菜单的问题
  source/js/app.js
Labels: none

fix: 删除打印
  source/js/app.js
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

Actions: .github/workflows/**/*
Dependencies: package.json
Configurations: _config.yml
CSS: source/css/**/*
Layout: layout/**/*
Scripts: scripts/**/*
i18n: languages/**/*
