Repository volantis-x/hexo-theme-volantis, pull requests merged in 2022-07, with the labels that each got.

#782 fix(artalk): imageUploader
  layout/_plugins/comments/artalk/script.ejs
Labels: Layout

#784 feat: add LingQue.Monitor
  layout/_partial/scripts/index.ejs
  layout/_plugins/analytics/script.ejs
Labels: Layout

#785 feat(tag): add pandown
  scripts/tags/pandown.js
Labels: Scripts

#792 refactor(comment): 调整 discuss 初始化代码
  _config.yml
  layout/_plugins/comments/discuss/script.ejs
  source/css/_style/_plugins/_dark/dark_plugins.styl
Labels: Configurations, CSS, Layout
