Repository volantis-x/hexo-theme-volantis, pull requests merged in 2023-01, with the labels that each got.

#840 fix: wrong behavior when there's no img provided for qrcode
  layout/_plugins/share/layout.ejs
Labels: Layout

#847 评论系统 Waline 新增兰空图床 V2 适配
  _config.yml
  layout/_plugins/comments/waline/script.ejs
Labels: Configurations, Layout

#850 更正 PR847 说明部分中的错误
  _config.yml
Labels: Configurations
