Repository volantis-x/hexo-theme-volantis, pull requests merged in 2023-04, with the labels that each got.

#861 fix(plugin): 修复leancloud配置特定appId值导致custom_api_server不生效问题
  layout/_plugins/analytics/LCCounter.ejs
Labels: Layout

#877 fix: 修复了移动端web菜单栏无法收缩；特性：浏览器滚动条复杂样式从配置文件传入
  _config.yml
  source/css/_first/base_first.styl
  source/js/app.js
Labels: Configurations, CSS

#880 fix: 修复移动端菜单栏按钮点击没有收起二级子菜单的问题
  source/js/app.js
Labels: JS
